*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #D85504 ,#FD7E0E,#D85504);
    /* background: #D85504; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}
.navr{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
}
.navr p{
    color: white;
}
.navr button{
    display: flex;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    
}
#sb1{
    padding: 9px 15px;

    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}
#sb2{
    padding: 9px 15px;
    background-color: #FBB275;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
main{
    height: 70%;
    width: 100%;
    /* background-color: red; */
    padding: 0px 90px;
    display: flex;
    color: white;
    gap: 50px;
}
.mleft{
    padding: 150px 0px;
}
.mleft h3{
    font-size: 50px;
}
.mleft p{
    font-size: 20px;
}
.mmiddle{
    font-size: 130px;
    padding-top: 70px;
    position: relative;
}
.hype{
    display: flex;
    transform: scaleY(1.5);
    letter-spacing: 0;
    gap: 60px;
}
.mmiddle h1{
    font-stretch: 900%;
}
.mmiddle img{
    position: absolute;
    top: 100px;
    left: 130px;
}
.mright{
    font-size: 24px;
    padding: 160px 0px;
    padding-left:70px ;
    font-weight: 100;
}
.mr1{
    display: flex;
    gap: 28px;
    padding-top: 20px;
}
.mr11{
    height: 50px;
    width: 50px;
    /* padding: 40px 10px; */
    border: none;
    border-radius: 50px;
    background-color: #4ACECB;
}
.mr12{
    height: 50px;
    width: 50px;
    /* padding: 40px 10px; */
    border: white 1px solid;
    border-radius: 50px;
    background-color: #FC6F01;
}
.mr13{
    height: 50px;
    width: 50px;
    /* padding: 40px 10px; */
    border: none;
    border-radius: 50px;
    background-color: #F1053B;
}
.mr2{
    display: flex;
    gap: 28px;
    padding-top: 20px;
}
.mr21{
    height: 50px;
    width: 50px;
    /* padding: 40px 10px; */
    border: white 1px solid;
    border-radius: 50px;
    background-color: transparent;
    padding: 9px;
}
.mr22{
    height: 50px;
    width: 50px;
    /* padding: 40px 10px; */
    border: white 1px solid;
    border-radius: 50px;
    background-color: transparent;
    padding: 9px;
}
.mr23{
    height: 50px;
    width: 50px;
    /* padding: 40px 10px; */
    border: white 1px solid;
    border-radius: 50px;
    background-color:transparent;
    padding: 9px;
}
footer{
    height: 10%;
    width: 100%;
    display: flex;
}
.fleft{
    display: flex;
    gap: 28px;
    padding: 0px 90px;
}
.fmiddle{
    display: flex;   
    align-items: center;
    padding: 0px 220px; 
    color: white;
    font-size: 20px;
    gap: 20px;
}
.line{
    height: 1px;
    width: 90px;
    border: white 1px solid;
    margin-top: 2px;
}
.fright{
    display: flex;
    align-items: center;
    padding: 0px 50px;
}
.fright button{
    font-weight: 800;
    font-size: 20px;
    border-radius: 50px;
    padding: 8px 10px;
    border: none;
}
